# Ignore the following files and directories:
.data
.dockerignore
.docker
.git
.gitignore
.pytest_cache
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build
*.egg
*.log
*.swp
*.swo
*.pyc
*.pyo
*.DS_Store
*.idea
*.coverage
.coverage
docs
examples
htmlcov
test-reports
venv