version: "3.3"
networks:
  conserver:
    external: true

services:
  conserver:
    build:
      dockerfile: ./docker/Dockerfile
      context: .
    command: "python ./server/main.py"
    # command: tail -f /dev/null
    volumes:
      - .:/app
    # ports:
    #   - "${CONSERVER_EXTERNAL_PORT:-8000}:8000"
    depends_on:
      - redis
      # - mongo
    env_file:
      - .env
    stop_grace_period: 60s
    networks:
      - conserver

  api:
    build:
      dockerfile: ./docker/Dockerfile
      context: .
    # command: poetry run gunicorn server.api:app -k uvicorn.workers.UvicornWorker -b $HOST:$PORT
    command: /bin/bash -c "poetry run uvicorn server.api:app --host 0.0.0.0 --port 8000"
    volumes:
      - .:/app
    ports:
      - "${CONSERVER_EXTERNAL_PORT:-8000}:8000"
    depends_on:
      - redis
      # - mongo
    env_file:
      - .env
    networks:
      - conserver

  redis:
    image: "redis/redis-stack:latest"
    ports:
      - "${REDIS_EXTERNAL_PORT:-8001}:8001"
      # - "6379:6379"
    environment:
      REDIS_ARGS: --save 20 1
    mem_limit: 1gb # <===== IMPORTANT!!!! We're overriding this in the docker-compose.override.yml file
    volumes:
       - ./.data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - conserver
    
