version: "3.3"
services:
  api:
    build: .
    command: bash -c "uvicorn conserver:conserver_app --host 0.0.0.0 --port 8002 --reload"
    volumes:
      - .:/app
    ports:
      - "9000:8002"
    depends_on:
      - redis
    env_file:
      - .env

  conserver:
    build: .
    command: bash -c "python ./init.py"
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env

  redis:
    image: "redis/redis-stack:latest"
    ports:
      - "9001:8001"
    environment:
      REDIS_ARGS: --save 20 1
    mem_limit: 1gb
    volumes:
       - ./.data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 30s
      timeout: 10s
      retries: 5

  # mongo:
  #   image: mongo
  #   restart: always
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: example
  #   profiles:
  #     - dev

  # mongo-express:
  #   image: mongo-express
  #   restart: always
  #   ports:
  #     - 8081:8081
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: root
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: example
  #     ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
  #   profiles:
  #     - dev

  # jupyter:
  #   build: .
  #   command: jupyter notebook --ip=0.0.0.0 --port=9999 --no-browser --allow-root
  #   volumes:
  #     - .:/app
  #   ports:
  #     - "9999:9999"
  #   depends_on:
  #     - redis
  #   env_file:
  #     - .env
  #   profiles:
  #     - dev
