<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <title>Conserver, the vCon Server!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Conserver</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <style>
      h1.ui.center.header {
        margin-top: 3em;
      }
    </style>

  </head>
  <body>
    <main id="main">
      <h1 class="ui center aligned header">Latest Conversations</h1>
      <div class="ui container">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>To</th>
              <th>From</th>
              <th>Start</th>
              <th>Duration</th>
            </tr>
          </thead>
          <tbody>
            {% for vcon in vCons %}
              <tr>
                <td>{{ vcon.parties[0]['tel'] }}</td>
                <td>{{ vcon.parties[1]['tel'] }}</td>
                <td>{{ vcon.dialog[0].start }}</td>
                <td>{{ vcon.dialog[0].duration }}</td>
                <td> 
                  <a href="/vcon/{{ vcon._id }}">
                    <button class="ui button">Raw vCon</button>
                  </a>
                  <a href="/details/{{ vcon._id }}">
                    <button class="ui button">Details</button>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th colspan="6"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </main>
  </body>
</html>
