<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Conserver</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://kit.fontawesome.com/be98aaec98.js" crossorigin="anonymous"></script>
    <style>
      h1.ui.center.header {
        margin-top: 3em;
      }

      .ui.table th:not(:first-child):hover {
        cursor: pointer;
      }

      input {
        padding: 3px;
      }
    </style>
  </head>

  <body>
    <main id="main">
      <h1 class="ui center aligned header">{{ heading }}</h1>
      <div class="ui container">
        <table class="ui celled table">
          <thead>
            <tr>
              <th @click="sortBy = 'starttime'">Start Time</th>
              <th @click="sortBy = 'from'">From</th>
              <th @click="sortBy = 'to'">To</th>
              <th @click="sortBy = 'duration'">Duration</th>
              <th>Recording</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(vcon, index) in vCons" :key="index">
              <td>{{ vcon.dialog[0].start }}</td>
              <td>{{ vcon.parties[0]['tel'] }}</td>
              <td>{{ vcon.parties[1]['tel'] }}</td>
              <td>{{ vcon.dialog[0].duration }}</td>
              <td @click="play">
                <audio id="audio" controls>
                  <source id="source" :index="index" type="audio/ogg"/>
                </audio>                
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="6">{{vCons.length}} conversations</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </main>

    <script src="https://unpkg.com/vue@3.0.11"></script>
    <script src="https://unpkg.com/axios"></script>
    <script src="https://unpkg.com/howler"></script>

    <script>
      api = "http://localhost:8000/vcon";
      console.log("Hello!");   
   


      Vue.createApp({
        mounted() {
          console.log("Mounted!");
          axios.get(api).then((response) => {
            console.log("Data returned!");
            console.log(response.data);
            this.vCons = response.data;
          });
        },
        data() {
          return {
            heading: "vCons!",
            vCons: []
          };
        },
        methods: {
          play(event) {
            element = event.currentTarget.querySelector('source')
            console.log(element);
            index = element.getAttribute('index');
            console.log(index)
            var binary= this.vCons[index].dialog[0].body
            var blob=new Blob([binary], {type : 'audio/ogg'});
            var blobUrl = URL.createObjectURL(blob);
            element.setAttribute('src', blobUrl);

          }
        },
      }).mount("#main");
    </script>
  </body>
</html>
