{% extends "base.html" %}
{% block title %}vCon Details{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
{{ super() }}

<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <h3 class="text-lg leading-6 font-medium text-strolidblue text-center">vCon Details</h3>
</div>
<div class="flex flex-row">
  <div class="basis-1/2 justify-start"> <!-- First Column -->
    <div class="mt-1 max-w-2xl text-sm text-gray-500 ">vcon ID: {{vcon.uuid}} </div>
  </div>
</div>

<div class="mt-5 border-t border-gray-200">
  <ul role="list" class="grid gap-6 grid-cols-2">
    {% for party in vcon['parties'] %}
      <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
        <div class="flex flex-1 flex-col p-8">
          <div class="overflow-hidden bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Party {{loop.index}} </h3>
            </div>
            <div class="border-t border-gray-200">
              {% for key, value in party.items() %}
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">{{key}}</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{value}}</dd>
                </div>
              {% endfor %}
        </div>
      </li>
    {% endfor %}
    {% for dialog in vcon['dialog'] %}
      <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
        <div class="flex flex-1 flex-col p-8">
          <div class="overflow-hidden bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Dialog {{loop.index}} </h3>
            </div>
            <div class="border-t border-gray-200">
              {% for key, value in dialog.items() %}
                {% if key != 'body' %}
                  <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{key}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{value}}</dd>
                  </div>
                {% endif %}
                {% if key == 'body' %}
                  <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 hidden" id="dialog_{{loop.index}}">
                    <dt class="text-sm font-medium text-gray-500">{{key}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 hidden">{{value}}</dd>
                  </div>
                  <button dialog_id="dialog_{{loop.index}}"> Show</button>
                {% endif %}
              {% endfor %}
              {% if 'audio' in dialog.mimetype %}
                <audio controls src="data:{{dialog.mimetype}};base64,{{dialog.body}}">
                  <p>If you are reading this, it is because your browser does not support the audio element.</p>
                </audio>
              {% endif %}
        </div>
      </li>
    {% endfor %}
    {% for analysis in vcon['analysis'] %}
      <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
        <div class="flex flex-1 flex-col p-8">
          <div class="overflow-hidden bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Analysis {{loop.index}} </h3>
            </div>
            <div class="border-t border-gray-200">
              {% for key, value in analysis.items() %}
                {% if key != 'body' %}
                  <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{key}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{value}}</dd>
                  </div>
                {% endif %}
              {% endfor %}
        </div>
      </li>
    {% endfor %}
    {% for attachment in vcon['attachments'] %}
      <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
        <div class="flex flex-1 flex-col p-8">
          <div class="overflow-hidden bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Attachment {{loop.index}} </h3>
            </div>
            <div class="border-t border-gray-200">
              {% for key, value in attachment.items() %}
                {% if key != 'body' %}
                  <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{key}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{value}}</dd>
                  </div>
                {% endif %}
              {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
{% block scripts %}

const button = document.querySelector("button");
const input = document.querySelector("input");

new Audio(url)

button.addEventListener("click", () => {
  input.toggleAttribute("disabled");
});

var snd = new Audio("data:audio/wav;base64," + base64string);
snd.play();

myAudioElement.addEventListener("canplaythrough", (event) => {
  /* the audio is now playable; play it if permissions allow */
  myAudioElement.play();
});

{% endblock %}